# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = [
    {'evolution': 'Ivysaur', 'hp': 45, 'name': 'Bulbasaur', 'pokedex': 'yes', 'type': 'grass'},
    {'evolution': 'Charmeleon', 'hp': 39, 'name': 'Charmander', 'pokedex': 'no', 'type': 'fire'},
    {'evolution': 'Wartortle', 'hp': 44, 'name': 'Squirtle', 'pokedex': 'yes', 'type': 'water'},
    {'evolution': 'Metapod', 'hp': 45, 'name': 'Caterpie', 'pokedex': 'no', 'type': 'bug'},
    
]

### Step 3. Assign it to a variable called pokemon

In [3]:
df = pd.DataFrame(data)
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
df = df.reindex(sorted(df.columns), axis=1)

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
df['place'] = ['home', 'garden', 'school', 'supermarket']
df

    evolution  hp        name pokedex   type        place
0     Ivysaur  45   Bulbasaur     yes  grass         home
1  Charmeleon  39  Charmander      no   fire       garden
2   Wartortle  44    Squirtle     yes  water       school
3     Metapod  45    Caterpie      no    bug  supermarket

### Step 6. Present the type of each column

In [8]:
df.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.